@{
    ViewData["Title"] = "Home Page";
}

<div class="main_head">
    <div class="txt">
        <div class="row">
            <div class="col-4"><div class="mhd"><div class="r">Work</div></div></div>
            <div class="col-4"><div class="eclipse"></div></div>
            <div class="col-4"><div class="mhd"><div class="l">Point</div></div></div>
        </div>
        Твоя точка відліку
    </div>
</div>
<a type="button" asp-controller="Home" asp-action="Questions" class="rect_2 align-items-center justify-content-center">
    <div class="txt" style="top: 30px">Розпочати</div>
</a>