@{
    ViewData["Title"] = "Home Page";
}

<div class="main_head">
    <div class="txt">
        <div>
            <div class="row">
                <div class="col"><div class="mhd">Work</div></div>
                <div class="col"><div class="mhd"><div class="eclipse"></div></div></div>
                <div class="col"><div class="mhd">Point</div></div>
            </div>
            Твоя точка відліку
        </div>
    </div>
</div>
<a type="button" asp-controller="Home" asp-action="Questions" class="rect_2">
    <div class="txt">Розпочати</div>
</a>
