body {
    background-image: url(../images/background.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    justify-content: center;
    display: flex;
}

.body_rect {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.9);
}

button {
    background-color: transparent;
}

/* header */

.home {
    position: absolute;
    width: 200px;
    height: 84px;
    left: 25vw;
}

.rect {
    position: relative;
    width: 100px;
    height: 84px;
    background: #FFFFFF;
}

.txt {
    text-decoration: none;
    position: relative;
    text-align: center;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    color: #FFFFFF;
    display: flex;
    width: 100%;
    height: 100%;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}

.rect .txt {
    color: #000000;
}

.rect_2 {
    box-sizing: border-box;
    position: absolute;
    width: 285px;
    height: 94px;
    top: 75vh;
    border: 3px solid #FFFFFF;
    border-radius: 25px;
}

.l .rect_2 {
    text-decoration: none;
    width: 140px;
    background-color: transparent;
    margin-left: 20vw;
}

.r .rect_2 {
    text-decoration: none;
    width: 140px;
    background-color: transparent;
    margin-left: 70vw;
}

.rect_2:hover {
    background: #FFFFFF;
}

.rect_2 .txt {
    font-size: 36px;
}

.rect_2 .txt:hover {
    color: #000000;
}

.how {
    position: absolute;
    width: 200px;
    height: 84px;
    right: 20vw;
}

.main_head {
    position: absolute;
    width: 100vw;
    top: 27vh;
}

.main_head .txt {
    letter-spacing: 0.33em;
}

.main_head .txt p {
    width: 80vw;
    font-size: 30px;
    letter-spacing: 0;
}

.main_head .txt .mhd {
    display: flex;
    justify-content: center;
    margin: 15px 0px;
    font-size: 36px;
    text-align: right;
}

.eclipse {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #FFFFFF;
}

@media screen and (max-width: 1000px) {
    .home {
        left: 10vw;
    }

    .how {
        right: 10vw;
    }
}

/* Модальное окно */

.modal-mask {
    position: fixed;
    z-index: 9999;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    display: table;
    transition: opacity 0.3s ease;
}

.modal-wrapper {
    display: table-cell;
    vertical-align: middle;
}

.modal-container {
    width: 50vw;
    position: absolute;
    left: 25vw;
    top: 10vw;
    margin: auto;
    padding: 20px 30px;
    background-color: gray;
    border-radius: 25px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.33);
    transition: all 0.3s ease;
    font-family: Helvetica;
}

.modal-header {
    display: block !important;
}

.modal-header h3 {
    display: flex;
    justify-content: center;
    color: #FFFFFF;
}

.modal-body {
    font-size: 24px;
    color: #000000;
    margin: 20px 0;
}

.modal-enter {
    opacity: 0;
}

.modal-leave-active {
    opacity: 0;
}

.modal-footer{
    justify-content: center !important;
}

.modal-footer .rect_2 {
    background-color: #000000;
    top: 59vh;
}

.modal-footer .rect_2:hover {
    background-color: #FFFFFF;
}

.modal-enter .modal-container,
.modal-leave-active .modal-container {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.skills {
    margin-top: 50px;
    width: 70vw;
}

.check {
    border-radius: 30px;
    width: 17vw;
    border: 1px solid #fff;
    overflow: hidden;
    margin: 15px;
}

.check label {
    border-radius: 30px;
    width:  17vw;
    height: 60px;
    letter-spacing: 0;
}

.check label span {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    height: 60px;
    align-items: center;
    justify-content: center;
    padding: 3px 0;
    display: flex;
}

.check label input {
    position: absolute;
    display: none;
    color: #fff !important;
}

.check label input + span {
    color: #fff;
}

.check input:checked + span {
    color: #000000;
    background-color: #FFFFFF;
}

.check input:hover + span {
    color: #000000;
    background-color: #FFFFFF;
}

.check .ch {
    color: #000000;
    background-color: #FFFFFF;
}

.check .unch {
    background-color: transparent;
    color: #fff;
}

.check .unch:hover {
    color: #000000;
    background-color: #FFFFFF;
}

.rect6 {
    box-sizing: border-box;
    width: 40px;
    height: 40px;
    border: 2px solid #FFFFFF;
    border-radius: 15px;
}

.rect6 .line1 {
    position: relative;
    top: 18.76px;
    left: 4px;
    width: 11.78px;
    height: 0px;
    border: 2px solid #FFFFFF;
    transform: matrix(0.76, 0.64, -0.64, 0.77, 0, 0);
}

.rect6 .line2 {
    position: relative;
    top: 13px;
    left: 11px;
    width: 21.74px;
    height: 0px;
    border: 2px solid #FFFFFF;
    transform: matrix(0.67, -0.75, 0.74, 0.68, 0, 0);
}

.mar {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 32px;
}

.rect6 .line3 {
    position: relative;
    top: 18px;
    left: 4px;
    width: 30px;
    height: 0px;
    border: 2px solid #FFFFFF;
    transform: rotate(45deg);
}

.rect6 .line4 {
    position: relative;
    top: 14px;
    left: 4px;
    width: 30px;
    height: 0px;
    border: 2px solid #FFFFFF;
    transform: rotate(-45deg);
}

.scrolls {
    height: 40vh;
    overflow-y: scroll;
    overflow-x: hidden;
}

button .txt{
    letter-spacing: 0em !important;
}

#app.main_head, #spec.main_head{
    top: 15vh !important;
}

#app.main_head .rect_2{
    top: 60vh;
}
